.header-bg-section { background: #2673a1 url("../images/avs-header-bg.png") repeat-x scroll left top; height: auto;}
.header-bg-section .container{ background:url(../images/avs-logo-bg-top.png) left top no-repeat; height:auto;}
.top-min-banner{ height:49px; background:url(../images/avs-yellow-bg.png) center top no-repeat;  text-align:center; }
.top-min-banner span{ color:#000;}
.top-min-banner h3{ font-size:43px; color:#f2112c; text-transform:uppercase; font-weight:900; margin:0; line-height:49px; display:inline-block;  position:relative; z-index:99; padding:0 30px;  font-style:normal; font-stretch:expanded; text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;}
.top-min-banner .border{ position:relative;}
.top-min-banner .border:after{ content:""; height:3px;  background:""; left:0; top:23px; right:0; position:absolute;}
.main-vehicle-section{margin:0; padding:17px 0px 11px 12px; background:url(../images/avs-form-bg.png) center top no-repeat; height:auto; width:100%;}
.navbar-default .navbar-nav > li {padding: 9px 8px 45px 10px;}
.navbar-nav > li.about-links > ul {top: 100px !important;}
#locator.accordion-new .results a.title.active {background: url(../images/avs-form-bg.png) center top no-repeat;}
#locator.accordion-new .results a.title {background: url(../images/avs-form-bg.png) center top no-repeat;}
.bx-wrapper .bx-viewport { max-height: 530px !important;}


@media (min-width: 992px) and (max-width: 1199px) {
.top-min-banner h2{ font-size:40px; padding:0 7px; line-height:40px;}
.top-min-banner h3{ font-size:40px; padding:0 7px; line-height:40px;}	
}

@media (min-width: 768px) and (max-width: 991px) {
.main-vehicle-section{background:#2673a1 url("../images/avs-header-bg.png") repeat-x scroll left top;}	
#locator.accordion-new .results a.title.active {background: url(../images/avs-form-bg.png) center top no-repeat;}
#locator.accordion-new .results a.title {background: url(../images/avs-form-bg.png) center top no-repeat;}
.navbar-default .navbar-nav > li {padding: 0px 0px 0px 0px;}
.top-min-banner {display:none;}
.top-min-banner h2{ font-size:40px; padding:0 7px;}
.top-min-banner h3{ font-size:40px; padding:0 7px;}	
}	


@media (min-width: 600px) and (max-width: 767px) {
.main-vehicle-section{background:#2673a1 url("../images/avs-header-bg.png") repeat-x scroll left top;}
#locator.accordion-new .results a.title.active {background: url(../images/avs-form-bg.png) center top no-repeat;}
#locator.accordion-new .results a.title {background: url(../images/avs-form-bg.png) center top no-repeat;}
.navbar-default .navbar-nav > li {padding: 0px 0px 0px 0px;}
.header-bg-section .container{ background:url(../images/avs-header-mobile-bg.png) left top no-repeat; height:auto;}
.top-min-banner h2{ font-size:20px; padding:0; vertical-align:top;}
.top-min-banner h3{ font-size:20px; padding:0; vertical-align:top;}
.top-min-banner .border::after{ display:none;}
}


@media (max-width: 599px) {
.main-vehicle-section{background:#2673a1 url("../images/avs-header-bg.png") repeat-x scroll left top;}
#locator.accordion-new .results a.title.active {background: url(../images/avs-form-bg.png) center top no-repeat;}
#locator.accordion-new .results a.title {background: url(../images/avs-form-bg.png) center top no-repeat;}
.navbar-default .navbar-nav > li {padding: 0px 0px 0px 0px;}
.header-bg-section .container{ background:url(../images/avs-header-mobile-bg.png) left top no-repeat; height:auto;}
.top-min-banner h2{ font-size:20px; padding:0; vertical-align:top;}
.top-min-banner h3{ font-size:20px; padding:0; vertical-align:top; line-height: -1px; margin: 0px; z-index: 0;}
.top-min-banner .border::after{ display:none;}		
}