.header-bg-section{ height:100px; background:url(../images/header-bg.png) left top repeat-x;}

.top-min-banner{ height:49px; background:#822711; text-align:center; }
.top-min-banner span{ color:#79b5f0;}
.top-min-banner h3{ font-size:43px; color:#fcfbfb; text-transform:uppercase; font-style:italic; font-weight:700; margin:0; line-height:48px; display:inline-block; background:#822711; position:relative; z-index:9; padding:0 30px; vertical-align:top;}
.top-min-banner .border{ position:relative;}
.top-min-banner .border:after{ content:""; height:3px; background:#96563e; left:0; top:23px; right:0; position:absolute;}


@media (min-width: 992px) and (max-width: 1199px) {
.top-min-banner h2{ font-size:40px; padding:0 7px; line-height:40px;}
.top-min-banner h3{ font-size:40px; padding:0 7px; line-height:40px;}	
}

@media (min-width: 768px) and (max-width: 991px) {
.top-min-banner {display:none;}
.top-min-banner h2{ font-size:40px; padding:0 7px;}
.top-min-banner h3{ font-size:40px; padding:0 7px;}	
}	

@media (min-width: 600px) and (max-width: 767px) {
.header-bg-section{ height:auto;  background:url(../images/header-bg-mobile.png) left top repeat-x;}	
.top-min-banner h2{ font-size:20px; padding:0; vertical-align:top;}
.top-min-banner h3{ font-size:20px; padding:0; vertical-align:top;}
.top-min-banner .border::after{ display:none;}	
}


@media (max-width: 599px) {
.header-bg-section{ height:auto; background:url(../images/header-bg-mobile.png) left top repeat-x;}	
.top-min-banner h2{ font-size:20px; padding:0; vertical-align:top;}
.top-min-banner h3{ font-size:20px; padding:0; vertical-align:top;}
.top-min-banner .border::after{ display:none;}	
}